body {
  color: rgb(0, 0, 0);
  background-color: rgb(188, 229, 240);
  margin: 0;
  font-family: 'Alegreya Sans';
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;
  /* Enable vertical scrolling */
  background-repeat: no-repeat;
  background-size: cover;
  background: #ff0000 url(https://wallpapercave.com/wp/wp2406611.jpg) top center repeat-y;
  background-size: 100%;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar width */
}

/* Optional: Style scrollbar track */
body::-webkit-scrollbar-track {
  background: transparent;
  /* Transparent track */
}

/* Optional: Style scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent white */
  border-radius: 10px;
  /* Rounded corners */
}


/* Navbar starting here */



a {
  text-decoration: none;
  color: rgb(160, 229, 128);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 90px; */
  /* background-color: #000000; */
  font-family: "Roboto", sans-serif;
  margin: auto;
  /* padding: 1rem; */






}

.nav-item {
  padding: 15px 20px;
  /* Decrease padding for smaller screens */
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.nav-item:hover {
  border-bottom: 3px solid rgb(255, 60, 0);
  border-radius: 20px;
}

/* Responsive Media Queries */
@media only screen and (max-width: 768px) {
  .nav_bar {
    flex-direction: column;
    /* Stack items vertically on smaller screens */
  }

  .navitem {
    padding: 10px;
    /* Decrease padding further for smaller screens */
    font-size: 16px;
    /* Adjust font size for smaller screens */
  }
}

.left {
  color: blanchedalmond;
}

/* Navbar end here */

/* home page start */

.container-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95vh;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;


  /* background-size: auto; */



}

.container-home .left-home {

  border-radius: 16px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  width: 500px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  height: 250px;




}

.container-home .left-home:hover {
  box-shadow: 0px 10px 20px 5px rgba(255, 255, 255, 0.5);
  transform: translateY(-5px);
}




.container-home .right-home .img {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;





}



.container-home .right-home .img img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background-image: url(img.png);
  background-size: cover;
  box-shadow: 0px 10px 20px 5px rgba(255, 255, 255, 0.5);
  transform: translateY(-5px);
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;



}

h2 {
  color: aliceblue;
}

.mid-home {
  width: 700px;
  height: 350px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center; /* Changed align-content to justify-content */
  padding: 20px; /* Increased padding for better spacing */
  border-radius: 16px;
  text-align: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  word-spacing: 6px;
}


.mid-home {
  box-shadow: 0px 10px 20px 5px rgba(52, 121, 7, 0.5);
  transform: translateY(-5px);


}











h1#about {
  font: 50px;
  animation: clip-path-reveal-1 3s ease infinite alternate;
  color: rgb(34, 172, 57);
  font: bold;
}

/* .mid-home{
  font: 20px;
  animation: clip-path-reveal-1 3s ease infinite alternate;
  color: rgb(34, 172, 57);
  font: bold;
} */

@keyframes superman {
  0% {
    border-color: blue;
    transform: translate(0, 0px);
    /* box-shadow: 10px 10px 100px 50px blue; */
  }

  25% {
    border-color: rgb(239, 244, 11);
    /* box-shadow: 10px 10px 100px 50px rgb(239, 244, 11); */
  }

  50% {
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    /* box-shadow: 10px 10px 100px 50px rgb(12, 12, 199); */
  }

  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(14, 14, 14);
  }

  100% {
    border-color: rgb(50, 55, 205);
    transform: translate(0, -0px);
    /* box-shadow: 10px 10px 100px 50px rgb(50, 55, 205); */
  }


}

@keyframes line-animation {
  0% {
    transform: scaleX(0);
  }

  15% {
    transform: scaleX(0);
  }

  20%,
  25% {
    transform: scaleX(1);
    top: calc(100% - 2px);
  }

  50% {
    transform: scaleX(1);
    top: 0px;
  }

  70% {
    transform: scaleX(0.2);
    top: 0px;
  }

  80%,
  100% {
    transform: scaleX(0.2);
    top: 0px;
  }
}

@keyframes clip-path-reveal-1 {

  0%,
  25% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 768px) {
  .container-home .right-home .img img {
    height: 200px;
    /* Adjust image height */
    width: 200px;
    /* Adjust image width */
  }

  .container-home {
    flex-direction: column;
    /* Switch to a column layout */
    height: auto;
    /* Reset height */
    width: auto;
    height: auto;
  }

  .container-home .left-home {
    width: 90%;
    /* Adjust width to fit the screen */
    margin-bottom: 20px;
    /* Add margin for spacing */
    height: auto;
    /* Reset height */
    margin-top: 10%;
    font-size: 20px;
  }

  .container-home .right-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;



  }

  .mid-home {

    width: 90%;
    /* Adjust width to fit the screen */
    margin-bottom: 20px;
    /* Add margin for spacing */
    height: auto;
    /* Reset height */
    /* margin-top: 10%; */
    font-size: 20px;
  }


}

/* Home page End */

/* skilss  Page Start */




.wrapper {
  padding: 15px;
}

h2 {
  display: flex;
  font-size: 50px;
  justify-content: center;
  color: rgb(226, 228, 241);
  font-style: italic;
  letter-spacing: 6px;
  font-weight: 900;


}









.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;

}

.cards .card {
  position: relative;
  margin: 20px;
  width: 280px;
  height: max-content;
  max-height: 225px;
  overflow: hidden;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
  border-radius: 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  mix-blend-mode: color-burn;
  background-color: transparent;
  border: none;


}


.cards .card img {
  /* width: 100%; */
  min-height: 100%;
  object-fit: contain;
  border-radius: 40px;
  padding: auto;
  mix-blend-mode: color-burn;
  aspect-ratio: 3/2;


}

.cards .card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #ff0011;
  transform: translateY(100%);
  transition: 0.3s;
  z-index: 1;
  text-align: center;
  font-weight: bold;

}



.cards .card:after {
  /* position: absolute; */
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: transparent;
  transition: 0.3s;
}

.cards .card:hover,
.cards .card:focus,
.cards .card:active {
  box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}

.cards .card:hover figcaption,
.cards .card:focus figcaption,
.cards .card:active figcaption {
  transform: none;
}

.cards .card:hover:after,
.cards .card:focus:after,
.cards .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}

/* Media Query for iPhone */
@media only screen and (max-width: 375px) {
  .wrapper {
    padding: 10px;
  }

  h2 {
    font-size: 40px;
  }

  .cards {
    max-width: 100%;
    /* Ensure the cards don't exceed the viewport width */
    display: flex;
    overflow-x: auto;
    margin: 20px auto;
    /* Center the cards horizontally */
    padding-bottom: 20px;
    /* Add padding to accommodate scrollbar */
  }

  .cards .card {
    flex: 0 0 auto;
    /* Allow cards to shrink to fit container */
    width: 230px;
    /* Adjust card width */
    max-height: 172px;
  }
}

/* skills end */

/* project section */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

:root {
  --transition-time: 2.3s;
}

h1 strong {
 display: flex;
  justify-content: center;
  font-size: 50px;
  color: rgb(226, 228, 241);
  font-style: italic;
  letter-spacing: 6px;
  font-weight: 900;
  
}

section {
  width: 90%;
  max-width: 2100px;
  margin: 0 auto;
}

.row {
  align-items: center;
  height: 100vh;
  justify-content: center;

}

.card {
  position: relative;
  height: 314px;
  width: auto;
  margin: 10px 0;
  transition: ease all var(--transition-time);
  perspective: 1200px;

}

.aos-animate:nth-child(5) .card,
.aos-animate:nth-child(6) .card {
  height: 283px;
}

.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
  transform: translateZ(30px);
}

.card:hover .cover:after {
  background-color: rgb(0, 0, 0);
}

.card:hover .cover h1 {
  transform: translateZ(100px);
}

.card:hover .cover .price {
  transform: translateZ(60px);
}

.card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all var(--transition-time);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.cover:before {
  content: '';
  position: absolute;
  /* border: 5px solid rgba(255, 255, 255, 0.5); */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all var(--transition-time);
  transform-style: preserve-3d;
  transform: translateZ(0px);
}

.cover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}

.item-a {
  background-image: url('projec/Screenshot\ \(14\).png');

}

.item-b {
  background-image: url('projec/Screenshot\ \(15\).png');
  background-size: cover;
}

.item-c {
  background-image: url('projec/Screenshot\ \(17\).png');
  background-size: cover;
}

.item-d {
  background-image: url('projec/Screenshot\ \(16\).png');
  background-size: cover;
}

.item-e {
  background-image: url('projec/Screenshot\ \(18\).png');
  background-size: cover;
}

.item-f {
  background-image: url('projec/Screenshot\ \(17\).png');
  background-size: cover;
}






.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0b0f08;
  transform-style: preserve-3d;
  transition: ease all var(--transition-time);
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back a {
  transform-style: preserve-3d;
  transition: ease transform var(--transition-time), ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
}

.card-back a:hover {
  background-color: white;
  color: #0b0f08;
}



/* projects end */


/* icon Start */


.container-fluid {
  flex-direction: row-reverse;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 500px; */
  gap: 8px;
  /* border: 2px solid wheat; */
  position: relative;
  /* Required for centering */
  margin-top: auto;
  /* Push to the bottom of the container */
  padding: 16px;
  border-radius: 8px;
  /* background-color: rgba(255, 255, 255, 0.9); */
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 5px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}

.social-button::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}

.contact-icon {
  /* height: 30vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:focus,
.social-button:hover {
  color: #fff;
}

.social-button:focus::after,
.social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.social-button i {
  font-size: 25.6px;
  /* 64px * 0.4 */
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button--mail {
  color: #0072c6;
}

.social-button--mail::after {
  background: #0072c6;
}




.social-button--gmail::after {
  background: #ca1717;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #6e5494;
}

.social-button--github::after {
  background: #6e5494;
}